camelot-py[cv]
camelot
camelot-py[plot]
opencv-python
ghostscript
pandas
openpyxl
python-dateutil
fastapi
uvicorn
chunknorris
python-multipart
groq
dotenv


sqlalchemy[asyncio]
asyncpg
alembic
psycopg2-binary
fastapi-users[sqlalchemy]
bcrypt
fastapi-users-db-sqlalchemy